* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

section, #agrego {
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid black;
}

#agrego .lblclass {
    float: left;
    width: 170px;
    margin-top: 12px;
}

#agrego input[type="text"] {
    width: 300px;
    max-width: 100%;
    padding: 5px;
    margin-top: 10px;
}

#agrego input[type="button"] {
    display: block;
    padding: 10px;
    width: 150px;
    margin: 10px auto;
    cursor: pointer;
}

#agrego h2 {
    float: left;
    width: 100%;
    text-align: center;
    margin: auto;
}

#producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#producto article {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 20px;
}

#producto .imagen {
    width: 250px;
    margin: auto;
}

/* table{
    margin: 10 auto;
    border: 1px solid;
    border-collapse: collapse;
} */

table, th,td {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid;
    border-collapse: collapse;

}

table img {
    width: 150px;
    margin: auto;
}

.trash img{

    width: 20px;
}

.trash:hover {
    cursor: pointer;
}
