* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: 90%;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

table#conEstilos {
    background-color: lightslategray;
}

table#conEstilos tr:nth-child(even) {
    background-color: rgb(172, 151, 31);

}