*{
    margin: 0;
    font-family: sans-serif;
}


form {
    padding: 20px;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    background-color: #f9f7f7;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
}

body{
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

#contenedorHeader h1 {
    color: white;
    background-color: black;
}

.mitad {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.mitad input {
    width: 45%;
}


.completo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.completo input{
    width: 100%;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
    border: 0px;
    background-color: #e7e6e6;
    border-radius: 5px;
}

input[type=button]{
    background-color: #a5a0a0;
    border: 0px;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 15px;
    margin: 15px 10px;
}

input[type=button]:hover{
    cursor: pointer;
}

.botones{
    display: flex;
}

