* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to right, aquamarine, blue);
    color: black;
}

.imagenes {
    margin: 20px auto;
    width: 300px;
    height: 150px;
    position: relative;
    left: 5%;
}

img {
    width: 130px;
    height: 130px;
}


.contenido {
    margin: 20px auto;
    padding: 10px;
    width: 500px;
    height: 300px;
    text-align: center;
}

h2 {
    padding-bottom: 20px;
    font-size: 2.2em;
}

input {

    padding: 15px;
    width: 70%;
    height: 25px;

}


#suscribeBtn {
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    background-color: blue;
    color: white;
    border: transparent;
}

#suscribeBtn:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: black;
}


p {
    padding: 20px;

}



#backBtn {
    padding: 10px;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    background-color: transparent;
    color: white;

}

#backBtn:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: black;
}

@media (max-width: 1000px) {

    .imagenes {
        position: relative;
        left: 8%;
    }


}


@media (max-width: 500px) {
    body {
        background: aquamarine;
        color: black;
    }

    .imagenes {

        position: relative;
        left: 18%;

    }

    .contenido {
        padding: 30px;
        width: 68%;
    }

    .text h2 {
        font-size: 1.5em;
    }


    input {
        margin: 20px;
        width: 200px;
        
    }
   

    #backBtn {
        color: black;
    }

}

@media (max-width:400px) {

    .imagenes img {
        width: 120px;
        height: 120px;
    }
    .imagenes {
        position: relative;
        left: 25%;
    }
    .contenido input {
        width: 150px;
        position: relative;
        left: 5%;
    }
    .text h2{
        font-size: 1em;
    }
    .text p{
        font-size: 0.8em;
    }
}