#articulos, #celular {
    /* background-color: white; */
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
   }

.contenedor, .celulares {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    background-color: rgba(0, 17, 255, 0.151);
}


#articulos h3, #celular h3 {
    text-align: center;
}


#articulos img, #celular img {
    max-width: 100%;
    height: 250px;
   
}



article {
    text-align: center;
    width: 280px;
    padding: 10px;
}