#productos{
    margin: 10px;
    padding: 10px;   
}


table{
    margin: 10px;
    padding: 10px;
    width: 95%;
}



table, th, td{
    
    margin: 10px;
    padding: 2px;
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

th{
    width: 20%;
}
td {
    padding: 3px;
}

input{
    text-align: center;
    border: 0;
    outline: none;
}


