header {
    margin: 20px;
    color: white;
    background-color: black;
    height: 60px;
    text-align: left;
    padding-left: 10px;
}

.nombreyA {
    margin: 15px;
    padding: 5px;
}
.contenedor {
    display: flex;
    
}


#genero, #tdc {
    border: 1px solid;
    border-radius: 5px;
    margin: 15px 10px;
    padding: 10px;
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#btn {
   text-align: center;
}

#boton {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#boton:hover {
    background-color: rgb(7, 51, 173);
    color: white;
}

